<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" defaultLanguage="C#" />
    <httpRuntime targetFramework="4.7.2" />

    <authentication mode="Forms">
      <forms loginUrl="login.aspx" />
    </authentication>

    <authorization>
      <deny users="?" />
    </authorization>

    <pages pageBaseType="WebFormsDoneRight.PageBase">
      <namespaces>
        <add namespace="System.Web" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="WebFormsDoneRight" />
      </namespaces>
      <controls>
        <add tagPrefix="WFDR" tagName="PersonControl" src="~/UserControls/PersonControl.ascx" />
      </controls>
    </pages>
  </system.web>

    <location path="login.aspx">
      <system.web>
        <authorization>
          <allow users="?" />
        </authorization>
      </system.web>
    </location>

</configuration>